h2{
    color: green;
}

p{
    color: brown;
}

#id1{
    color: orange;
}

.c1{
    text-decoration: underline;
    text-transform: capitalize;
}

h3.c1{
    text-align: center;
}

h3,p{
    background-color: yellow;
}